
main {
  min-height: 100%;
  size: 6in;
  padding-bottom: 50px;
  background-color: #fedba1;
}

body, html {
  height: 100%;
  font-family: "Courier New";
}

navbar {
  background: #f05054;
  font-family: "Marker Felt", cursive;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
}

li {
  float: left
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
}

a {
  text-decoration: none;
  color: black;
}

navbar li a:hover:not(.active) {
  color: white;
}

nav li a:hover:not(.active) {
  color: #f0973c;
}

.active {
  background-color: #f0973c;
}

h1, h2, h3, .special-text {
  text-align: center;
}

p {
  padding: 0 40px;
}

.nav-logo {
  width: 200px;
}

.main-pic, .about {
  width: 65%;
  box-shadow: 0px 20px 20px 20px grey;
}

.main-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
}

.about {
  background: #e4e4e4;
  color: black;
}

.special-text {
  color: red;
  font-size: x-large;
}

nav ul{
  justify-content: center;
}



@media only screen and (max-width: 790px) {
  .main-div {
    width: 100%;
  }
  navbar ul, nav ul {
    flex-direction: column;

  }
  iframe, .about, .main-pic {
    width: 100%;
  }
}
