
.discount, .media, .faq {
  background: #f05054;
  width: 50%;
  box-shadow: 0px 20px 20px 20px grey;
  margin: 3em 0;
}

.discount-fields {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

button, .self-button {
  background-color: #f0973c;
  border-radius: 5px;
  width: 15%;
  height: 25px;
  margin: 5px;
  box-shadow: 6px 4px grey;
  cursor: pointer;
  outline: none;
}

button:hover, .self-button:hover {
  background-color: #e08d37;
}

button:active, .self-button:active {
  background-color: #e08d37;
  box-shadow: none;
  transform: translateY(4px);
}

.media-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.media-buttons a {
  box-shadow: 6px 4px grey;
  cursor: pointer;
  border-radius: 10%;
  height: 66px;
}

.media-buttons a:hover {
  opacity: .8;
}

.media-buttons a:active {
  box-shadow: none;
  transform: translateY(4px);
}

.question-title {
  display: flex;
  flex-direction: column;
}

.self-button {
  align-self: flex-end;
  text-align: center;
  padding-top: 5px;
  margin-bottom: 15px;
}

.show-hide {
  display: none;
}

.show-hide:target {
  display: block;
}

@media only screen and (max-width: 790px) {
  .main-div {
    width: 100%;
  }
  navbar ul, nav ul {
    flex-direction: column;
  }
}

i {
  font-size: 70px;
}

.fa-twitter-square {
  color: #38A1F3;
}

.fa-facebook-square {
  color: #3b5998;
}
